@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Concierto de la bichota!</h1>
    <img src="~/images/Bichota.jpg" alt="Icono de países" width="500" height="500">
</div>
