@model Parcial2.DAL.Entities.Ticket

<h2>Validar boleta</h2>

<form asp-action="ValidateTicket" method="post">
    <div class="form-group">
        <label>Entrada:</label>
        <select class="form-control" name="entranceGate">
            <option value="Norte">Norte</option>
            <option value="Sur">Sur</option>
            <option value="Oriental">Oriental</option>
            <option value="Occidental">Occidental</option>
        </select>
    </div>
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Validar</button>
</form>