@model Parcial2.DAL.Entities.Ticket
<h2>Validar boleta</h2>

<form asp-action="ValidateTicket" method="post">
    <div class="form-group">
        <label>Portería de entrada:</label>
        <select class="form-control" name="entranceGate">
            <option value="Portería 1">Portería 1</option>
            <option value="Portería 2">Portería 2</option>
            <option value="Portería 3">Portería 3</option>
        </select>
    </div>
    <input type="hidden" name="id" value="@Model" />
    <button type="submit" class="btn btn-primary">Validar</button>
</form>
