
<h2>Advertencia</h2>

<div class="alert alert-danger">
    <strong>Error:</strong> @ViewBag.ErrorMessage
</div>

<img src="~/images/BichotaSad.jpg" alt="Icono de países" width="200" height="200">

<a asp-action="ValidateTicketForm" class="btn btn-primary">Volver al inicio</a>
